.app {
  height: 100%;
}

.calculator-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.reverse {
  flex-direction: column-reverse;
}

.browser {
  display: none;
}

@media all and (display-mode: browser) {
  .browser {
    display: block;
  }
}
