.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.reverse {
  flex-direction: column-reverse;
}

.banner {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
}

.banner:hover {
  text-decoration: underline;
}

.browser {
  display: none;
}

@media all and (display-mode: browser) {
  .browser {
    display: block;
  }
}
