.component-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #292a30;
  color: white;
  font-weight: 200;
  max-width: 100vw;
}

.component-display .message {
  margin: auto 5px;
  font-size: 2rem;
  font-weight: bold;
}

.component-display .cursor {
  margin: auto 0;
  border: 0.5rem solid transparent;
  border-left: 0.5rem solid white;
  border-right: none;
  opacity: 0;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.component-display .cursor.active {
  animation: blink 1s infinite;
}

.component-display .value {
  flex-grow: 1;
  text-align: right;
  margin: auto 5px;
  font-size: 4rem;
  overflow-x: auto;
}
