html {
  height: 100%;
  font-size: 4vmin;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

button {
  touch-action: manipulation;
}
